head
  include partials/headMeta.pug

body
  include partials/header.pug
  .container
    .content
      if (tags && tags.includes('entrada'))
        |!{pageData}
      else
        .postLayout
          .post
            |!{pageData}
          img(src=`${siteUrl}${image}`, alt=title)
      //- include plugins/comments.pug
    .sidebar
      h2 Secciones
      include partials/sidebar.pug

  include partials/footer.pug
