header
  a(href=`${siteUrl}/`).homeTitle
    img(src=`${siteUrl}/images/clandrones.png`)
    span #{siteName}
  .expansor &nbsp;
  //- for uri, page in pages
    a(href=`${uri}`)
      span #{page.replace(/-/g, ' ')}
