.blogList
  each post in posts.sort((a, b) => b.meta.date - a.meta.date)
    .card(
      style=`background-image: url(${siteUrl}${post.meta.image})`,
      class=`${(post.meta.tags || []).join(' ')}`
    )
      .blogContent(class=`${post.meta.tags.includes('admin') ? 'admin': ''}`)
        h3.title
          p.postTitle #{post.meta.title}
        p.excerpt #{post.meta.excerpt}
      a(href=`${siteUrl}/posts/${post.path}`).megaLink
